<div class="twitter">
	<h4>JOEL @ TWITTER</h4>
	<p><br/><p>

	<ul class="list-group">
		<% @tweets.each do |tweet| %>
			<li>
				<%= tweet.created_at.to_s[0..15] %>
					<span class="tw-screen-name"
						<% if tweet.user.screen_name == "JoelEmbiid" %>
							style="font-size: large;"
						<% end %>
					>
						<%= tweet.user.screen_name %>
					</span>
				says:
			</li>
			<li><%= tweet.full_text %></li>
			<br/>
			<br/>
		<% end %>
	</ul>
</div>