<div class="center">
    <h4><%= link_to 'view carousel page', site_carousel_path %></h4>
    <p><br/></p>
    <%= image_tag 'embiid_center.jpg', :class => 'img-responsive' %>
    <h3>EMBIIDFEED.com</h3>
    <p><br/></p>
    <%= image_tag 'sixers.png', :class => 'img-responsive' %>
    <p><br/></p>
    <p><br/></p>
    <h5>ANYONG!</h5>
</div>
