<div class="center">
    <h4><%= link_to 'carousel view', site_carousel_path %></h4>
    <%= image_tag 'embiid_center.jpg', :class => 'img-responsive'  %>
    <h4>EMBIID21.com ANYONG!</h4>
    <%= image_tag 'sixers.png', :class => 'img-responsive' %>
</div>
