<div class="center">
	<div><h4><%= link_to 'carousel', site_carousel_path %></h4></div>
	<div><%= image_tag 'embiid_center.jpg' %></div>
	<div><h4>EMBIID21.com ANYONG!</h4></div>
	<div><%= image_tag 'sixers.png' %></div>
</div>