<div id="jot">
  <% @joel_tweets.each do |tweet| %>
    <div class="card-panel" id="jot-card">

      <span style="font-size: 12px;">
        <%= tweet.created_at.strftime("%-d %b %Y") %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= tweet.created_at.strftime("%l:%M%p") %>
      </span>

      <br/>

      <span style="font-size: 16px; font-weight: 700;">
        <%= auto_link(Obscenity.sanitize(tweet.full_text.to_s.dup), target: '_blank').html_safe %>
      </span>

    </div>

    <p class="joel-tweets" style="display: none;"><%= tweet.id %></p>
  <% end %>
</div>
