<ul>
<% @joel_tweets.each do |tweet| %>
  <li>
    <%= tweet.created_at.to_s[0..15] %>
      <span 
        <% if tweet.user.screen_name == "JoelEmbiid" %>
          style="font-size: large;"
        <% end %>
      >
        <%= tweet.user.screen_name %>
      </span>
    says:
  </li>
  <li><%= tweet.full_text %></li>
  <li class="joel-tweets" style="display: none;"><%= tweet.id %></li>
  <br/>
  <br/>
<% end %>
</ul>