<div id="toj">
  <% @tweets_joel.each do |tweet| %>
    <div class="card-panel" id="toj-card">
      <img class="responsive-img circle valign-wrapper" 
        src="https://avatars.io/twitter/<%= tweet.user.screen_name.to_s %>"
      >
      <p class="date-and-handle">
        <%= (tweet.created_at - ( 4 * 60 * 60 )).strftime("%-d %b %Y %l:%M%p") %>
        <%= auto_link('@' + tweet.user.screen_name.to_s, target: '_blank' ).html_safe %>
        says:
      </p>

      <p class="toj-tweet">
        <%= auto_link(Obscenity.sanitize(tweet.full_text.to_s.dup), target: '_blank').html_safe %>
      </p>
    </div>
  <% end %>
</div>
