<div class="row text-center">
    <div class="col-md-4">
	   <%= render "last_game" %>
    </div>

    <div class="col-md-4">
	   <%= render "center" %>
    </div>

    <div class="col-md-4">
    	<%= render "twitter" %>
    </div>
</div>