@import "materialize";

html {
  font-family: Graduate;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.stats {
  background: #D3D3D3;

  .team-logo {
    height: 100px;
    width: 100px;
  }

  .highlight-video {
    margin: 10px;
  }
}