.anyong {
    background-color: #DCDCDC;
    color: black;
    height: 525px;
    margin-bottom: 2.5%;
    padding-top: 20px;
}

.carousel-left, .carousel-right {
    height: 650px;
    padding-top: 20px;
    margin-bottom: 2.5%;
}

.carousel-left {

}

.carousel-right {
    background-color: #003DA6;
    color: white;
    font-size: 12px;
}

.item {
    font-size: 14px;
}

.next-blue {
    color: #003DA6;
}

.next-red {
    color: #DD0031;
}