.last-game, .twitter, .middle {
	margin: 0 auto;
	float: left;
	padding: 1%;
}

.last-game, .twitter {
	border: 1px white solid;
	color: white;
	width: 30%;
}

.last-game {
	background: #DD0031;
}

.twitter {
	background: #003DA6;
}

.middle {
	border: 1px black dotted;
	width: 40%;
}
