.last-game {
	border: 1px black solid;
	display: inline-block;

	width: 30%;
	float: left;
}

.twitter {
	border: 1px black solid;
	display: inline-block;

	width: 30%;
	height: auto;
	
	float: right;
}